@import '~ant-design-vue/dist/antd.less';
@base-color: #7e6b5a;
@body-bg-color: rgb(72, 88, 84);
@head-bg-color: #c4ae96;
@white: #fff;
@primary-color: @base-color;
@transparent: transparent;
@success-color: @base-color;
@processing-color: @base-color;
@disabled-color: fade(@white, 70%);
@border-color-base: fade(@base-color, 60%); // base border outline a component
@border-color: rgb(203, 201, 163);
@border-color-white: @border-color;
@border-color-black: #cbc9a3;
@border-color-black-new: rgba(rgba(56, 60, 57, 0.9));
@text-color: #e8e6c2; // 主文本色
@text-color-secondary: rgba(254, 234, 202, .95); // 次文本色
@all-input-bg: #a6937c;
@input-color: @text-color;
@input-bg: @all-input-bg;
@input-border-color: @border-color-base;
@input-hover-border-color: @base-color;
@input-disabled-bg: @all-input-bg;
@input-addon-bg: @all-input-bg;
@card-background: #a6937c;
@radio-dot-color: @base-color;
@btn-primary-color: #ffeebb;
@btn-primary-bg: #7e6b5a;
@btn-default-color: #ffeebb;
@btn-default-bg: #7e6b5a;
@btn-default-border: @border-color-base;
@btn-disable-color: #ffeebb;
@btn-disable-bg: #7e6b5a;
@btn-disable-border: @border-color-base;
@table-header-color: @text-color-secondary;
@table-row-hover-bg: #35413f;
@table-selected-row-bg: #aeaaa3;
@modal-heading-color: fade(@white, 70%);
@select-background: #a6937c;
@select-dropdown-bg: #a6937c;
@menu-bg: #6d847e;
@badge-text-color: #000000;
@tag-default-bg: #a6937c;
@radio-button-checked-bg: #83A3A6 !important;